<ion-header>
  <ion-toolbar>
    <ion-title>User Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-label>Item 3</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-label>Item 4</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-label>Item 5</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-button color="primary" (click)="setData('storedData', 5)">Get data</ion-button>
</ion-content>
